<div class="modal fade" th:id="'editStudent' + *{student.getId()} ">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- general form elements -->
                <div class="card card-danger">
                    <!-- form start -->
                    <form role="form" action="/table/student/edit" method="POST">
                        <div class="card-body">
                            <div class="form-group">
                                <label th:attr="for = 'id' + *{student.getId()}">ID</label>
                                <input type="text" class="form-control" th:id="id + *{student.getId()}"
                                    th:value="*{student.getId}" name="id" readonly="readonly">
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label th:attr="for = 'firstName' + *{student.getId()}">First name</label>
                                    <input type="text" class="form-control" th:id="firstName + *{student.getId()}"
                                        placeholder="Enter first name" th:value="*{student.getFirstName}"
                                        name="firstName" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label th:attr="for = 'lastName' + *{student.getId()}">Last name</label>
                                    <input type="text" class="form-control" th:id="lastName + *{student.getId()}"
                                        placeholder="Enter last name" th:value="*{student.getLastName}" name="lastName"
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label th:attr="for = 'birthday' + *{student.getId()}">Birthday</label>
                                <input type="date" class="form-control" th:id="birthday + *{student.getId()}"
                                    placeholder="Birthday" th:value="*{student.getBirthday}" name="birthday" required>
                            </div>
                            <div class="form-group">
                                <label th:attr="for = 'email' + *{student.getId()}">Email</label>
                                <input type="email" class="form-control" th:id="email + *{student.getId()}"
                                    placeholder="Email" th:value="*{student.getEmail}" name="email" required>
                            </div>
                            <div class="form-group">
                                <label th:attr="for = 'address' + *{student.getId()}">Address</label>
                                <input type="text" class="form-control" th:id="address + *{student.getId()}"
                                    placeholder="Address" th:value="*{student.getAddress}" name="address" required>
                            </div>

                            <div class="form-group">
                                <label th:attr="for = 'phone' + *{student.getId()}">Phone number</label>
                                <input type="text" class="form-control" th:id="phone + *{student.getId()}"
                                    placeholder="Phone number" th:value="*{student.getPhoneNumber}" name="phoneNumber"
                                    required>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-block">Save changes</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>