<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
<head>
    <title>404 Error</title>
    <style th:replace="/components/style/style"></style>
</head>
<body class="hold-transition sidebar-mini layout-navbar-fixed">
    <div class="wrapper">
        <!-- NAVBAR AND SIDEBAR -->
        <div th:replace="/components/navbar/navbar"></div>
        <div th:replace="/components/navbar/sidebar"></div>
        <!-- END NAVBAR AND SIDEBAR -->    
        <div class="content-wrapper">
            <div class="content">
                <br><br><br>
                <!------------------------ CONTENT ------------------------------------------>


                <div class="error-page">
                    <h2 class="headline text-warning"> 404</h2>
            
                    <div class="error-content">
                      <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>
            
                      <p>
                        We could not find the page you were looking for.
                        Meanwhile, you may <a href="/dashboard">return to dashboard</a> or try using the search form.
                      </p>
            
                      <form class="search-form">
                        <div class="input-group">
                          <input type="text" name="search" class="form-control" placeholder="Search">
            
                          <div class="input-group-append">
                            <button type="submit" name="submit" class="btn btn-warning"><i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /.input-group -->
                      </form>
                    </div>
                    <!-- /.error-content -->
                  </div>


                <!------------------------ END CONTENT ------------------------------------>       
            </div>
            <div class="content-footer container-fluid"></div>
        </div>
        <!-- FOOTER -->
        <footer th:replace="/components/navbar/footer"></footer>
        <aside th:replace="/components/navbar/sidebar_control"></aside>
        <!-- FOOTER -->
    </div>
<script th:replace="/components/style/script"></script>
<script th:replace="/components/charts/chartjs"></script>
</body>
</html>