<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <style th:replace="/components/style/style"></style>
</head>
<body class="hold-transition sidebar-mini layout-navbar-fixed">
    <div class="wrapper">
        <!-- NAVBAR AND SIDEBAR -->
        <div th:replace="/components/navbar"></div>
        <div th:replace="/components/sidebar"></div>
        <!-- END NAVBAR AND SIDEBAR -->    
        <div class="content-wrapper">
            <section class="content-header container-fluid">
                <h3>Dashboard</h4>
            </section>
            <div class="content">
                <!------------------------ CONTENT ------------------------------------------>

                <div th:replace="components/box/small_box"></div>
                <div th:replace="components/charts/bar_chart"></div>
                <div th:replace="components/charts/pie_chart"></div>
        
                <!------------------------ END CONTENT ------------------------------------>       
            </div>
            <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
                <i class="fas fa-chevron-up"></i>
              </a>
        </div>
        <!-- FOOTER -->
        <footer th:replace="/components/footer"></footer>
        <aside th:replace="/components/sidebar_control"></aside>
        <!-- FOOTER -->
    </div>
<script th:replace="/components/style/script"></script>
<script src="./custom/js/chart.js"></script>
</body>
</html>