<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <style th:replace="/components/style/style"></style>
    <title>Dashboard</title>
</head>

<body class="hold-transition sidebar-mini layout-navbar-fixed">
    <div class="wrapper">
        <!-- NAVBAR AND SIDEBAR -->
        <div th:replace="/components/navbar"></div>
        <div th:replace="/components/sidebar"></div>
        <!-- END NAVBAR AND SIDEBAR -->
        <div class="content-wrapper">
            <section class="content-header container-fluid">
                <h3>Dashboard</h4>
            </section>
            <div class="content">
                <div class="container-fluid">
                    <!------------------------ CONTENT ------------------------------------------>
                    <div th:replace="components/box/small_box"></div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div th:replace="components/charts/pie_chart"></div>
                        </div>
                        <div class="col-lg-5">
                            <div class="card bg-gradient-success" style="position: relative; left: 0px; top: 0px;">
                                <div class="card-header border-0 ui-sortable-handle">

                                    <h3 class="card-title">
                                        <i class="far fa-calendar-alt"></i>
                                        Calendar
                                    </h3>
                                    <!-- tools card -->
                                    <div class="card-tools">
                                        <!-- button with a dropdown -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success btn-sm dropdown-toggle"
                                                data-toggle="dropdown" data-offset="-52">
                                                <i class="fas fa-bars"></i></button>
                                            <div class="dropdown-menu" role="menu">
                                                <a href="/calender" class="dropdown-item">View calendar</a>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-success btn-sm"
                                            data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body pt-0">
                                    <!--The calendar -->
                                    <div id="calendar" style="width: 100%">
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                    <div th:replace="components/charts/bar_chart"></div>
                </div>
                <!------------------------ END CONTENT ------------------------------------>
            </div>
            <!-- FOOTER -->
            <footer th:replace="/components/footer"></footer>
            <!-- FOOTER -->
            <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <script th:replace="/components/style/script"></script>
    <script th:src="@{/adminlte/plugins/moment/moment.min.js}"></script>
    <script  th:inline="javascript" >
        $("a[name^='dashboard']").addClass("active");
        $('#calendar').datetimepicker({
            format: 'L',
            inline: true
        })
        let data2 = {
            labels: [
                'Mất gốc 1',
                'Mất gốc 2',
                'TOEIC 1',
                'TOEIC 2',
                'Luyện thi 1',
                'Navigator',
            ],
            datasets: [{
                data: [[${dataForPieChart}]],
                backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
            }]
        }

        let data1 = {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July','August','September','October','November','December'],
            datasets: [{
                    label: 'New Students',
                    backgroundColor: 'rgba(60,141,188,0.9)',
                    borderColor: 'rgba(60,141,188,0.8)',
                    pointRadius: false,
                    pointColor: '#3b8bba',
                    pointStrokeColor: 'rgba(60,141,188,1)',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data:  [[${dataForBarChart}]],
                },
            ]
        }
    </script>
    <script th:src="@{/custom/js/chart.js}"></script>
</body>

</html>