<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">

<head>
    <title>Exam</title>
    <style th:replace="/components/style/style"></style>
</head>

<body class="hold-transition sidebar-mini layout-navbar-fixed">
    <div class="wrapper">
        <!-- NAVBAR AND SIDEBAR -->
        <div th:replace="/components/navbar"></div>
        <div th:replace="/components/sidebar"></div>
        <!-- END NAVBAR AND SIDEBAR -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <section class="content-header container-fluid">
                    <h3>Exam</h4>
                </section>
                <div class="content">
                    <!------------------------ CONTENT ------------------------------------------>
                    <div class="col-md-2 md-margin-bottom-50">
                        <div class="panel panel-dark-blue">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-tasks"></i> A2</h3>
                            </div>
                            <div class="panel-body">
                                <p>Cambridge English Key (<a href="KET/index.php">KET</a>)</p>
                                <p><a href="https://www.examenglish.com/PTE/PTE_General.htm">PTE General</a> Level 1</p>
                                <p><a href="https://www.examenglish.com/PTE/PTE_Academic.htm" class="awhite">PTE Academic</a> 30-42</p>
                                <p><a href="https://www.examenglish.com/TOEIC/toeic_listening_and_reading.htm">TOEIC Listening &amp; Reading</a> 225
                                </p>
                                <p><a href="https://www.examenglish.com/TOEIC/toeic_speaking_and_writing.htm">TOEIC Speaking &amp; Writing</a> 160
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 md-margin-bottom-50">
                        <div class="panel panel-dark-blue">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-tasks"></i> B1</h3>
                            </div>
                            <div class="panel-body">
                                <p>Cambridge English Preliminary (<a href="https://www.examenglish.com/PET/index.html">PET</a>)</p>
                                <p>
                                    <a href="https://www.examenglish.com/BEC/BEC_Preliminary.html">BEC Prelim</a>
                                </p>
                                <p><a href="https://www.examenglish.com/IELTS/index.html">IELTS</a> 4-4.5</p>
                                <p><a href="https://www.examenglish.com/TOEFL/index.html">TOEFL iBT</a> 57-86</p>
                                <p><a href="https://www.examenglish.com/TOEIC/toeic_listening_and_reading.htm">TOEIC Listening &amp; Reading</a> 550
                                </p>
                                <p><a href="https://www.examenglish.com/TOEIC/toeic_speaking_and_writing.htm">TOEIC Speaking &amp; Writing</a> 240
                                </p>
                                <p><a href="https://www.examenglish.com/PTE/PTE_General.htm">PTE General</a> Level 2</p>
                                <p><a href="https://www.examenglish.com/PTE/PTE_Academic.htm" class="awhite">PTE Academic</a> 43-58</p>
                                <p><a href="https://www.examenglish.com/Trinity/ise_1.htm">Trinity ISE I</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 md-margin-bottom-50">
                        <!-- Default Panel -->
                        <div class="panel panel-dark-blue">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-tasks"></i> B2</h3>
                            </div>
                            <div class="panel-body">
                                <p>Cambridge English First (<a href="https://www.examenglish.com/FCE/index.html">FCE</a>)</p>
                                <p>BEC
                                    <a href="https://www.examenglish.com/BEC/BEC_Vantage.html">Vantage</a>
                                </p>
                                <p><a href="https://www.examenglish.com/IELTS/index.html">IELTS</a> 5-6.5</p>
                                <p><a href="https://www.examenglish.com/TOEFL/index.html">TOEFL iBT</a> 87-109</p>
                                <p><a href="https://www.examenglish.com/TOEIC/toeic_listening_and_reading.htm">TOEIC Listening &amp; Reading</a> 785
                                </p>
                                <p><a href="https://www.examenglish.com/TOEIC/toeic_speaking_and_writing.htm">TOEIC Speaking &amp; Writing </a>310
                                </p>
                                <p>Michigan <a href="https://www.examenglish.com/ECCE/index.php">ECCE</a></p>
                                <p><a href="https://www.examenglish.com/PTE/PTE_General.htm">PTE General</a> Level 3</p>
                                <p><a href="https://www.examenglish.com/PTE/PTE_Academic.htm" class="awhite">PTE Academic</a> 59-75</p>
                                <p><a href="https://www.examenglish.com/Trinity/ise_2.htm">Trinity ISE I</a>I</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 md-margin-bottom-50">
                        <!-- Default Panel -->
                        <div class="panel panel-dark-blue">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-tasks"></i> C1</h3>
                            </div>
                            <div class="panel-body">
                                <p>Cambridge English Advanced (<a href="https://www.examenglish.com/CAE/index.php">CAE</a>)</p>
                                <p>BEC
                                    <a href="https://www.examenglish.com/BEC/BEC_Higher.html">Higher</a>
                                </p>
                                <p><a href="https://www.examenglish.com/IELTS/index.html">IELTS</a> 7-8</p>
                                <p><a href="https://www.examenglish.com/TOEFL/index.html">TOEFL iBT</a> 110-120</p>
                                <p><a href="https://www.examenglish.com/TOEIC/toeic_listening_and_reading.htm">TOEIC Listening &amp; Reading</a> 945
                                </p>
                                <p><a href="https://www.examenglish.com/TOEIC/toeic_speaking_and_writing.htm">TOEIC Speaking &amp; Writing</a> 360
                                </p>
                                <p><a href="https://www.examenglish.com/PTE/PTE_General.htm">PTE General</a> Level 4</p>
                                <p><a href="https://www.examenglish.com/PTE/PTE_Academic.htm" class="awhite">PTE Academic</a> 76-84</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 md-margin-bottom-50">
                        <!-- Default Panel -->
                        <div class="panel panel-dark-blue">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-tasks"></i> C2</h3>
                            </div>
                            <div class="panel-body">
                                <p>Cambridge English Proficiency (<a href="https://www.examenglish.com/cpe/index.php">CPE</a>)</p>
                                <p><a href="https://www.examenglish.com/IELTS/index.html">IELTS</a> 8.5-9</p>
                                <p>Michigan <a href="https://www.examenglish.com/ECPE/index.php">ECPE</a></p>
                                <p><a href="https://www.examenglish.com/PTE/PTE_General.htm">PTE General</a> Level 5</p>
                                <p><a href="https://www.examenglish.com/PTE/PTE_Academic.htm" class="awhite">PTE Academic</a> 85+</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 md-margin-bottom-50">
                        <div class="panel panel-dark-blue">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-tasks"></i> Levels</h3>
                            </div>
                            <div class="panel-body">
                                <li class="list-group-item"><a href="https://www.examenglish.com/leveltest/index.html">Level test</a></li>
                                <li class="list-group-item"><a href="https://www.examenglish.com/CEFR/cefr.php">CEFR Levels</a></li>
                            </div>
                        </div>
                    </div>
                    <!------------------------ END CONTENT ------------------------------------>
                </div>
                <div class="content-footer container-fluid"></div>
            </div>
        </div>
        <footer th:replace="/components/footer"></footer>
        <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <script th:replace="components/style/script.html"></script>
</body>

</html>