<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
<head>
    <title>News</title>
    <style th:replace="/components/style/style"></style>
</head>
<body class="hold-transition sidebar-mini layout-navbar-fixed">
    <div class="wrapper">
        <!-- NAVBAR AND SIDEBAR -->
        <div th:replace="/components/navbar"></div>
        <div th:replace="/components/sidebar"></div>
        <!-- END NAVBAR AND SIDEBAR -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <section class="content-header container-fluid">
                    <h3>News</h4>
                </section>
                <div class="content">
                    <!------------------------ CONTENT ------------------------------------------>
                            <iframe src="https://ctt-daotao.hust.edu.vn/" frameborder="0" style="width: 100%; height: 500px; border: none;"></iframe>
                    <!------------------------ END CONTENT ------------------------------------>
                </div>
                <div class="content-footer container-fluid"></div>
            </div>           
        </div>
        <footer th:replace="/components/footer"></footer>
        
    </div>
    <script th:replace="components/style/script.html"></script>
    <script>
        $("a[name^='news']").addClass("active");
    </script>
</body>
</html>