<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
<head>
    <title>Title</title>
    <style th:replace="/components/style/style"></style>
    <!-- PLUGGIN CALENDER -->
    <link rel="stylesheet" href="adminlte/plugins/fullcalendar/main.min.css">
    <link rel="stylesheet" href="adminlte/plugins/fullcalendar-daygrid/main.min.css">
    <link rel="stylesheet" href="adminlte/plugins/fullcalendar-timegrid/main.min.css">
    <link rel="stylesheet" href="adminlte/plugins/fullcalendar-bootstrap/main.min.css">
    <!-- END PLUGGIN CALENDER -->
</head>
<body class="hold-transition sidebar-mini layout-navbar-fixed">
    <div class="wrapper">
        <!-- NAVBAR AND SIDEBAR -->
        <div th:replace="/components/navbar/navbar"></div>
        <div th:replace="/components/navbar/sidebar"></div>
        <!-- END NAVBAR AND SIDEBAR -->    
        <div class="content-wrapper">
            <section class="content-header container-fluid">
                <h3>Title Content</h3>
            </section>
            <div class="content">
                <!------------------------ CONTENT ------------------------------------------>



                <!------------------------ END CONTENT ------------------------------------>       
            </div>
            <div class="content-footer container-fluid"></div>
        </div>
        <!-- FOOTER -->
        <footer th:replace="/components/navbar/footer"></footer>
        <aside th:replace="/components/navbar/sidebar_control"></aside>
        <!-- FOOTER -->
    </div>
<script th:replace="/components/style/script"></script>
<script th:replace="/components/charts/chartjs"></script>
</body>
</html>